@import "tailwindcss";
@import "@nuxt/ui";

@font-face {
  font-family: "mirage-trial";
  src: url("/mirage-trial.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

body {
  font-family: "mirage-trial", sans-serif;
}

:root {
  --ui-text: var(--ui-color-neutral-900);
}

h1,
h2,
.duper {
  font-family: duper, sans-serif;
}

@keyframes rotatingAnimationY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
